@charset "utf-8";
/* 초기화 */
body, h1, h2, p, ul { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
ul li { list-style: none; }
a { text-decoration: #000; color: #575757; }
address { font-style: normal; }
small { font-size: 1em; }
hr { display: none; }
.hidden { position: absolute; left: -9999px; }
/* 헤더 */
#header { width: 100%; height: 100px;
          background: #cdd499;
          border-bottom: 5px solid #000;
          display: flex;
          justify-content: center;
        }
#header h1 { position: absolute; top: 30px; left: 50px; }
#header h1 a { }
.gnbView { display: none; }
/* membership */
#membership { position: absolute; top: 35px; right: 50px; }
#membership ul { display: flex; }
#membership ul li { margin-left: 15px; }
#membership ul li a { font-size: 14px; }
/* gnb */
#gnb { margin-top: 35px; }
#gnb ul { display: flex; }
#gnb ul li { margin: 0 20px; }
#gnb ul li a { }
/* event */
#event { width: 100%; height: 500px;
        background: #626262;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
#event h2 { color: #fff; }
#event p { margin: 20px 0 70px; color: #fff;  }
#event a { display: block; width: 200px;
          border: 1px solid #fff; color: #fff;
          text-align: center; line-height: 30px; }
#event a:hover { background: #fff; color :#000; }
/* 본문 */
main { display: flex; flex-wrap: wrap; width: 1200px; margin: 0 auto; }
main > section { height: 300px; color: #fff; }
#content1 { background: #fed543; }
#content2 { background: #08cc33; }
#content3 { background: #437dfe; }
#content4 { background: #ca50d5; }
/* 푸터 */
#footer { width: 100%; padding: 50px 0;
          background: #414141; color: #fff; }

/* 1200 이상 */
@media all and ( min-width: 1200px ) {
  main > section { width: 25%; }
  #event h2 { font-size: 100px; }
  #event p { font-size: 30px; }
}
/* 1200 미만 */
@media all and ( max-width: 1199px ) {
  main { width: 100%; }
  main > section { width: 25%; }
  #event h2 { font-size: 10vw; }
  #event p { font-size: 2vw; }
}
/* 800 이하 */
@media all and ( max-width: 800px ) {
  #header h1 { position: static; margin-top: 25px; }
  .gnbView { display: block; position: absolute; top: 30px; left: 30px;
             width: 40px; height: 40px;
             border: 1px solid #000; }
  .gnbView::before { content: "";
                    position: absolute; top: 12px; left: 5px;
                    width: 30px; height: 2px;
                    background: #000;
                  transition: 0.5s; }
  .gnbView::after { content: "";
                    position: absolute; top: 24px; left: 5px;
                    width: 30px; height: 2px;
                    background: #000; 
                  transition: 0.5s;}
 
  .gnbView:hover::before { transform: rotate(45deg); top: 20px;}
  .gnbView:hover::after { transform: rotate(-45deg); top: 20px;}
  #gnb { 
  position: fixed; top: 0; left: -200px;
  width: 200px; height: 100vh; margin: 0;
  background: blue;
  transition: 0.5s;
 }
 #gnb ul {display: block;}
 #gnb ul li {line-height: 50px; text-align: center;}
 #gnb ul li a {color: white;}
  main > section { width: 50%; }
  #event h2 { font-size: 32px; }
  #event p { font-size: 16px; }             
}
/* 600 이하 */
@media all and ( max-width: 600px ) {
  main > section { width: 100%; }
  #membership ul {
    display: block; text-align: right;
  }
}
